.p-message {
  margin-top: 60px;
}

.p-message__inner {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 20px;
}

.p-message__title {
  text-align: center;
  font-size: 40px;
  color: #dd1b57;
  margin-bottom: 26px;
  letter-spacing: 0.05em;
}

.p-message__sub-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
}

.p-message__box__img {
  float: left;
  margin: 0 25px 0px 0;
  width: 100px;
}

.p-message__box__description {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.p-message__box__description-link {
  color: #349bf4;
}

.p-message__under-img-wrapper {
  margin: 80px auto 100px auto;
  max-width: 1160px;
  padding: 0 20px;
}

.p-message__under-img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p-message {
    margin-top: 30px;
  }

  .p-message__title {
    font-size: 24px;
  }

  .p-message__sub-title {
    font-size: 15px;
  }

  .p-message__box__description {
    font-size: 15px;
    letter-spacing: 0.05em;
  }

  .p-message__under-img-wrapper {
    margin: 50px 0 50px 0;
  }
  .p-message__under-img {
    height: 260px;
  }
}