.p-news {
  margin-top: 60px;
  @include mq("sp"){
    margin-top: 30px;
  }
}

.p-news__inner {
  column-gap: 130px;
  display: flex;
  @include mq("sp"){
    display: block;
  }
}

.p-news__date {
  font-size: 15px;
  align-items: center;
  @include mq("sp"){}
}

.p-news__description {
  font-size: 15px;
  padding-left: 40px;
  align-items: center;
  @include mq("sp"){
    padding-left: 0px;
    padding-top: 5px;
  }
}

.p-news__item {
  padding-top: 15px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ededed;
  @include mq("sp"){}
}

.p-news__list div:nth-child(1) {
  padding-top: 0;
  @include mq("sp"){
    padding-top: 22px;
  }
}

.p-news__link {
  display: flex;
  text-decoration: none;
  color: #151515;
  column-gap: 40px;
  @include mq("sp"){
    display: block;
    font-size: 15px;
  }
}

.p-news__link:hover{
  color: $base-color;
}