.p-news {
  margin-top: 60px;
  padding: 0 30px;
}

.p-news__inner {
  column-gap: 130px;
  display: flex;
}

.p-news__date {
  font-size: 15px;
  align-items: center;
}

.p-news__description {
  font-size: 15px;
  padding-left: 40px;
  align-items: center;
}

.p-news__item {
  padding-top: 15px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ededed;
}

.p-news__list div:nth-child(1) {
  padding-top: 0;
}

.p-news__link {
  display: flex;
  text-decoration: none;
  color: #151515;
  column-gap: 40px;
}

@media screen and (max-width: 767px) {
  .p-news__inner {
    display: block;
  }

  .p-news {
    margin-top: 30px;
    padding: 0 20px;
  }

  .p-news__title {
    font-size: 32px;
    margin-bottom: 22px;
  }

  .p-news__link {
    display: block;
    font-size: 15px;
  }

  .p-news__description {
    padding-left: 0px;
    padding-top: 5px;
  }

  .p-news__list div:nth-child(1) {
    padding-top: 22px;
  }
  
}