.p-service {
  margin-top: 15px;
  margin-bottom: 100px;
  padding: 0 30px;
}

.p-service__inner {
  position: relative;
}

.p-service__title {
  padding-top: 80px;
  padding-bottom: 50px;
}

.p-service__content::before {
  display: block;
  content: "SERVICE";
  position: absolute;
  top: 25px;
  right: -20px;
  z-index: -1;
  font-size: 168px;
  font-weight: bold;
  color: #f2f2f2;
  line-height: 1;
}

.p-service__cards {
  display: flex;
  justify-content: space-between;
}

.p-service__card {
  max-width: 350px;
  width: 30%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.16);
  padding: 50px;
}

.p-service__card-link {
  text-decoration: none;
  color: #151515;
}
.p-service__card__title {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.p-service__card__img-area {
  text-align: center;
}

.p-service-card__img {
  width: 48px;
}

.p-service__card__description {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .p-service {
    margin: 0px;
    padding: 0 20px;
    overflow-x: hidden;
  }

  .p-service__title {
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .p-service__content::before {
    top: 40px;
    right: -30px;
    z-index: -1;
    font-size: 70px;
    font-weight: bold;
    color: #f2f2f2;
    line-height: 1;
  }

  .p-service__cards {
    display: block;
  }

  .p-service__card {
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    padding: 40px 30px;
  }

  .p-service__card__title {
    font-size: 16px;
  }

  .p-service__card__description {
    font-size: 14px;
  }
}