.p-sub-mv {
  width: 100%;
}

.p-sub-mv__container {
  display: flex;
  height: 190px;
  background-image: url(../img/pc_bg_mv.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  @include mq("sp"){
    height: 160px;
  }
}

.p-sub-mv__title {
  text-align: center;
  text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
  @include mq("sp"){}
}

.p-sub-mv__maintitle {
  font-size: 40px;
  color: $accent-color;
  font-weight: bold;
  @include mq("sp"){
    font-size: 28px;
  }
}

