.c-section-title {
  width: 200px;
  white-space: nowrap;
  font-size: 40px;
  color: $base-color;
  line-height: 1;
  font-weight: bold;
  @include mq("sp"){
    font-size: 32px;
  }
} 

